@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
  }
html {
    scroll-behavior: smooth;
}

.navbar .navbar-brand {
    color: #F24A72;
    font-weight: bold;
    font-size:30px
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #333C83;
    font-weight: bold;
    font-size:25px;
    margin:8px;
}
.navbar-light .navbar-nav .nav-link {
    color:#333C83;
    font-weight: bold;
    font-size:25px;
    margin:8px;
}
.Title {
    color: #333C83;

}

.subTitle {
    font-weight: 300;
    font-size: 40px;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: #212A4D;

}

.subTitle span {
    color: #333C83;
    font-weight: bold;
}
.card {
    margin: 2rem;
}
.partners {
    box-shadow:0px 0px 1px 1px #88888826;

}
.partners h2 {
    font-size: 25px;
    color: rgb(167, 167, 167);
}
.partner {
    margin: 2%;
}
.fas {
    font-size: 50px;
    color: #333C83;
    margin: 3%;
}
.card-event {
    margin: 1rem;
    padding: 2rem;
    border-radius: 5px;
    background-color: #f1f1f1;
    width:168px;
}
.card-event .img-event {
    border-radius: 50%;
    background-color: white;
    width: 92px;
    padding: 6px;
    margin: auto;
}

.card-event .text-event {
    color: #212A4D;
    font-size:20px;

}
.one-do {
    margin: 1rem;
    height: 380px;
}
@media (max-width: 992px) { 
    .one-do {
        height: 100%;
    }
 }

.txt-do h1 {
    color: #333C83;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    margin-top: 1rem;
}

.txt-do p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #4c5564;

}
.cader-img-do {
    width: 300px;
    height: 300px;
    

}
 


.img-do {
    border-radius: 30px;

}

.partMobile {
    display: none;
}

@media (max-width: 767px) { 
    .partMobile {
        display: block;
    }
    .partPC {
        display: none;
    }


 }

.slider-area {
    background-color:#333C83;
    padding: 50px 0;
    position: relative;
    margin: 120px 0;
}
.carousel-control-left,
.carousel-control-right {
    background-color: transparent;
}
.img-area{
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid #FFF;
    border-radius: 50%;
    overflow: hidden;
}
.img-area img {
    width: 100%;
}
.carousel-caption {
    position: static;
    padding-bottom: 15px;
    padding-top: 0;

}
.carousel-caption h3 {
    font-size: 26px;
    margin-bottom: 15px;
    margin-top: 25px;
    font-weight: bold;
}
.carousel-caption h4 {
    font-weight: 400;
    font-size: 25px;
}
.carousel-caption p {
    font-size: 18px;
    margin: auto;
    width: 70%;
    margin-bottom: 10px;
}
.carousel-indicators {
    bottom: -35px;
}




.faq-section {
    background: #fdfdfd;
    min-height: 100vh;
    padding: 10vh 0 0;
}
.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #333C83;
    bottom: -25px;
    margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: #333C8318;
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  text-align: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #333C83;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
  .wrapper .button {
      display: block;
  }
}


footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #333C83;
    height: auto;
    width: 100vw;
    padding-top: 40px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    color: #fff;
}

.wrapper .button {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: left;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;

}
.wrapper .button:hover {
    width: 200px;
}

.wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: left;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;


}
.wrapper .button:nth-child(1):hover .icon{
    background: #4267B2;
  }
  .wrapper .button:nth-child(2):hover .icon{
    background: #1DA1F2;
  }
  .wrapper .button:nth-child(3):hover .icon{
    background: #E1306C;
  }
  .wrapper .button:nth-child(4):hover .icon{
    background: #333;
  }
  .wrapper .button:nth-child(5):hover .icon{
    background: #ff0000;
  }
.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;

}
.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;

}
.wrapper .button:hover .icon i{
    color: #fff;
  }
.wrapper .button:nth-child(1) span{
    color: #4267B2;
  }
  .wrapper .button:nth-child(2) span{
    color: #1DA1F2;
  }
  .wrapper .button:nth-child(3) span{
    color: #E1306C;
  }
  .wrapper .button:nth-child(4) span{
    color: #333;
  }
  .wrapper .button:nth-child(5) span{
    color: #ff0000;
  }


.txtfooter {
  color: #FFF;
}
.p-3 {
  padding: 0.5rem!important;
}


